<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-brand navbar-primary">
      <i class="m-3 fa-solid fa-film"></i>
      <div>
        <%= link_to "My Lists", lists_path %>
        <%= link_to "Create new List", new_list_path %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
